@import url("reset.css");
@import url("fonts/CooperHewitt.css");
/* General Classes */
.hidden {
  /* Hide it, keep it */
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.fixer {
  /* element size fixed to a maximum*/
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
/* Fix footer to bottom */
body,
html {
  display: flex;
  flex-direction: column;
  height: 100%;
}
body > main,
html > main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}
body {
  background: url("alaska.jpg") fixed center;
  background-size: cover;
  font-size: 16px;
  font-family: "CooperHewittMedium", Arial, Helvetica, sans-serif;
}
body#tinymce {
  background: none;
}
/* multi alignement bar */
.multibar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.multibar:before {
  order: -1;
  content: "";
  flex-grow: 1;
}
.multibar:after {
  order: 1;
  content: "";
  flex-grow: 1;
}
.multibar > .left {
  order: -2;
}
.multibar > .right {
  order: 2;
}
body > * {
  padding: 20px;
}
body > header {
  background: #0d1f34;
  color: #d7deff;
}
body > header h1 > a {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body > header h1 > a span {
  font-family: "CooperHewittHeavy", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 10px 20px;
  text-align: center;
}
body > header nav {
  display: flex;
  align-items: center;
  margin: 10px;
}
body > header nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
body > header nav > ul a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
body > footer {
  text-align: center;
  background: #0d1f34;
  color: #d7deff;
  padding: 20px;
}
article {
  border: 1px solid #c0c0c0;
  background: #DEF;
  border-radius: 3px;
  padding: 10px;
  margin: 20px 0;
}
@supports (backdrop-filter: blur(5px)) {
  article {
    backdrop-filter: blur(10px);
    background: rgba(221, 238, 255, 0.75);
  }
}
article > header {
  margin: 10px -10px;
  border-bottom: 1px solid #c0c0c0;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  display: flex;
}
article > footer {
  margin: 10px -10px;
  border-top: 1px solid #c0c0c0;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
}
article > :first-child {
  margin-top: -10px;
  padding-top: 10px;
}
article > :last-child {
  margin-bottom: -10px;
  padding-bottom: 10px;
}
article p {
  font-size: 16px;
  line-height: 1.2em;
  padding: 0.33em 0;
  text-align: justify;
}
textarea {
  width: 100%;
}
fieldset {
  border-top: 1px solid silver;
  padding: 10px 0 10px 10px;
  margin: 5px 10px;
}
fieldset legend {
  padding: 0 10px;
}
.formgrid {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-gap: 5px;
}
.formgrid label {
  grid-column: 0;
  text-align: right;
  padding: 5px;
}
.formgrid input[type="text"],
.formgrid input[type="email"],
.formgrid input[type="password"] {
  border: 1px solid silver;
  padding: 5px;
}
.formgrid .line {
  grid-column: auto / span 2;
  text-align: right;
}
/* buttons */
.btn {
  background: #EEEEEE;
  margin: 2px;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 900;
  color: black;
  border: none;
}
.neutral {
  background: #DEF;
}
@supports (backdrop-filter: blur(5px)) {
  .neutral {
    backdrop-filter: blur(10px);
    background: rgba(221, 238, 255, 0.75);
  }
}
.error {
  background: #EE9999;
}
@supports (backdrop-filter: blur(5px)) {
  .error {
    backdrop-filter: blur(10px);
    background: rgba(238, 153, 153, 0.75);
  }
}
.error.btn {
  color: #550000;
}
.warning {
  background: #EEEE99;
}
@supports (backdrop-filter: blur(5px)) {
  .warning {
    backdrop-filter: blur(10px);
    background: rgba(238, 238, 153, 0.75);
  }
}
.warning.btn {
  color: #555500;
}
.success {
  background: #99EE99;
}
@supports (backdrop-filter: blur(5px)) {
  .success {
    backdrop-filter: blur(10px);
    background: rgba(153, 238, 153, 0.75);
  }
}
.success.btn {
  color: #005500;
}
.info {
  background: #9999EE;
}
@supports (backdrop-filter: blur(5px)) {
  .info {
    backdrop-filter: blur(10px);
    background: rgba(153, 153, 238, 0.75);
  }
}
.info.btn {
  color: #000055;
}
header input {
  flex-grow: 1;
  width: 100%;
  margin-left: 1px;
  box-sizing: border-box;
  border: 1px solid #c0c0c0;
  background: #ffffff;
  padding: 10px;
  font-size: 1.17em;
  font-weight: bold;
  text-align: center;
}
