// out: style.css
@import url("reset.css");
@import url("flex.less");
/** General Classes **/
.hidden {
	/* Hide it, keep it */
	visibility: hidden !important;
	width: 0 !important;
	height: 0 !important;
	border: none !important;
	padding: 0 !important;
	margin: 0 !important;
}

.fixer {
	/* element size fixed to a maximum*/
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}
/** Fix footer to bottom **/
body,
html {
	@flex-direction: column;
	#flex.apply();
	height: 100%;

	& > main {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: auto;
	}
}
/** multi alignement bar **/

.multibar {
	display: flex;

	&:before {
		order: -1;
		content: "";
		display: block;
		flex-grow: 1;
	}

	&:after {
		order: 1;
		content: "";
		display: block;
		flex-grow: 1;
	}

	.left {
		order: -2;
	}

	.right {
		order: 2;
	}
}
/** multi alignement bar **/
.btn {
	background:gray;
	padding:5px 10px;
	border-radius:5px;
	text-decoration: none;
	color:white;
}

body {
	& > * {
		padding: 20px;
	}

	& > header {
		background: #0d1f34;
		color: #d7deff;
		nav>ul {
			display:flex;
			a{
				padding:10px;
				color:#fff;
				text-decoration: none;
			}
		}
	}

	& > footer {
		text-align: center;
		background: #0d1f34;
		color: #d7deff;
		padding: 20px;
	}
}

article {
	border: 1px solid #c0c0c0;
	border-radius: 3px;
	padding: 10px;
	margin: 20px;

	& > header {
		margin: 10px -10px;
		border-bottom: 1px solid #c0c0c0;
		background: #ffffff;
		padding: 10px;
		display: flex;
	}

	& > footer {
		margin: 10px -10px;
		border-top: 1px solid #c0c0c0;
		background: #d7d7d7;
		padding: 10px;
		display: flex;
	}

	& > :first-child {
		margin-top: -10px;
		padding-top: 10px;
	}

	& > :last-child {
		margin-bottom: -10px;
		padding-bottom: 10px;
	}
}
